.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Un valor alto para asegurar que esté en la parte superior */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart-heading {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.cart-list {
  list-style: none;
  padding: 0;
}

.cart-list li {
  margin: 5px 0;
}

.cart-total {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
